<div class="container">
    <p>Name: {{studentDetails.name}}</p>
    <p>Major: {{studentDetails.major}}</p>
    <p>Email: {{studentDetails.email}}</p>
    <p>City: {{studentDetails.city}}</p>
    <p>Country: {{studentDetails.country}}</p>
    <!-- <p>{{studentDetails.deadlines}}</p> -->
    
    <!-- <button type="button" class="btn btn-primary">
        <a routerLink="/login">Logout</a>
    </button> -->
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
</div>

